* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Super Mario 256";
}
:root {
  --bg-color: black;
  --second-bg-color: black;
  --text-color: white;
  --main-color: #04fffb;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
.header {
  position: fixed;
  top: 2rem;
  left: 2rem;
  right: 1rem;
  width: 97%;
  border-radius: 100rem;
  padding-top: 0.2rem;
  padding-left: 10px;
  padding-right: 3rem;
  background: #66b2b2;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: top 0.3s ease-in-out; /* For smooth hide/reappear */
}
 
.header.hide {
  top: -50%;
}
.navbar{
padding-bottom: 0.5rem;
}
.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  
}

.logo:hover {
  transform: scale(1.1);
}

.logo-name {
  font-size: 100rem; 
  color: var(--text-color);
  margin-left: 0rem; 
}
.one,.two,.three,.four {
  font-size: 2.3rem;
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
  font-family: "Bicubik";
  cursor: pointer;
}
.one:hover {
 color: black;
 border-bottom: 3px solid red;

}
.two:hover {
color: black;
border-bottom: 3px solid green;

}
.three:hover {
color: black;
border-bottom: 3px solid #f192bd;

}
.four:hover {
color: black;
border-bottom: 3px solid blue;

}
#menu-icon {
  font-size: 3.6rem;
  color: white;
  display: none; /* Will display on mobile */
}
section {
min-height: 100vh;
padding: 10rem 9% 10rem;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
}
span {
  color: var(--main-color);
  font-family: "Bicubik";
}
.highlight-green{
  color: green;
  font-family: "Super Mario 256";
}
.highlight-pink{
  color: #f192bd;
  font-family: "Super Mario 256";
}
.highlight-blue{
  color: #66b2b2;
  font-family: "Super Mario 256";
}
.highlight-red{
  color: red;
  font-family: "Super Mario 256";
}
.highlight-pale{
  color: #b2d8d8;
  font-family: "Super Mario 256";
  
}
.logo span {
  color: var(--main-color);
}
.IOTA{
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  color: white; 
}
.IOTA p{
    font-size: 1em;
    color: #ccc;
    line-height: 1.5;
}
.home-content h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3rem;
}
.home-content h1 {
  font-style: sans serif;
  font-size: 6rem;
  font-weight: 600;
  margin-top: 1.5rem;
  line-height: 1;
}
.home-img {
  border-radius: 50%;
}
.home-img img {
  position: relative;
  top: 3rem;
  width: 20vw;
  border-radius: 100%;
  box-shadow: 0 0 25px #b2d8d8;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.subdomain-head{
  text-align: left;
  margin-bottom: 10px;
}
.subdomain-head1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.subdomain{
  padding-bottom: 10px;

}
.home-img img:hover {
  box-shadow: 0 0 50px #66b2b2, 0 0 100px #66b2b2;
}
.home-content p {
  font-family: "Bicubik";
  font-size: 2rem;
  font-weight: 500;
  max-width: 1000px;
  letter-spacing: 0.1rem;
  line-height: 1.5;
}
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease-in-out;
}
.social-icons a:hover {
  color: white;
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
}
.btn5,.btn6,.btn7 {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: rgb(214, 137, 137);
  border-radius: 2rem;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin: 3px;
}
.btn6{
  background-color: rgb(111, 188, 111);
}
.btn7{
  background-color: #ddbaca;
}
.btn5:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px red;
}
.btn6:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px green;
}
.btn7:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px #f192bd;
}
.btn1 {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: #66b2b2;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn1:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}
.btn2 {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: red;
  border-radius: 10px;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-left: 20rem;
}
.btn2:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}
.btn3 {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: green;
  border-radius: 10px;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-left: 20rem;
}
.btn3:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}
.btn4 {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: #f192bd;
  border-radius: 10px;
  font-size: 1.6rem;
  color: rgb(0, 0, 0);
  border: 2px solid transparent;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-left: 20rem;
}
.btn4:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}  
.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}
.text-animation span {
  position: relative;
}
.text-animation span::before {
  content: "Web dev";
  color: #66b2b2;
  animation: words 20s infinite;
}
.text-animation span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}
@keyframes words {
  0%,
  20% {
    content: "Technical";
  }
  21%,
  40% {
    content: "Corporate";
  }
  41%,
  60% {
    content: "Design";
  }
  61%,
  80% {
    content: "Technical";
  }
  81%,
  100% {
    content: "Corporate";
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
.about1, .about2, .about3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  color: white;
  border-radius: 90px;
  margin-top: 20rem;
  margin-left: 10rem;
  margin-right: 10rem;
  padding: 5rem;
  background-color: rgba(173, 19, 19, 0.212);
  backdrop-filter: blur(100px);
}

.about2 {
  background-color: rgba(0, 128, 0, 0.212);
}

.about3 {
  background-color: rgba(247, 127, 199, 0.212);
}
.about-img {
  border-radius: 50%;
}
.about-img img {
  position: relative;
  width: 20vw;
  height: 40vw;
  border-radius: 0%;
  top: 1rem;
  cursor: pointer;
 
}
.heading {
  text-align: center;
  font-size: 5rem;
}
.about-content h2 {
  text-align: left;
  line-height: 1.5;
  font-size: 6.5rem;
}
.about-content1 h2{
  line-height: 1.5;
  font-size: 6.5rem;
  margin-left: 3rem;
}
.about-content1 p{
  text-align: left;
  font-family: "Bicubik";
  margin: 2rem;
  font-size: 2rem;
  font-weight: 500;
  max-width: 1000px;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  padding-left: 1rem;
}
.about-content h3 {
  font-size: 2.6rem;
}
.about-content p {
  font-family: "Bicubik";
  margin: 2rem 0 3rem;
  font-size: 2rem;
  font-weight: 500;
  max-width: 1000px;
  letter-spacing: 0.1rem;
  line-height: 1.5;

}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: #66b2b2;
}
::-webkit-scrollbar-track {
  background-color: black;
}
.heading1{
  font-family: "Super Mario 256";
  font-size: 6.5rem;
  text-align: center;
}
.why-IOTA{
  font-size: 3rem;
  margin-left: 2rem;
}
.footer  {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--bg-color);
  margin-top: 15rem;

}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: #66b2b2;
  margin-top: 10rem;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #66b2b2;
}
.footer .social a{
  font-size: 5rem;
  color: #b2d8d8;
  border: 2px solid #b2d8d8;
  width: 7rem;
  height: 7rem;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  padding-top: 8px;
  border-radius: 50%;
  margin-right:15px;
  margin-top: 5rem;
  transition: 0.3s ease-in-out;
  text-align: center;
}
.footer .social a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: #b2d8d8;
  color: #66b2b2;
  box-shadow: 0 0 25px #b2d8d8;
  border: 2px solid;
}
.footer1 .social a{
  font-size: 5rem;
  color: #b2d8d8;
  border: 2px solid #b2d8d8;
  width: 7rem;
  height: 7rem;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  padding-top: 8px;
  border-radius: 50%;
  margin-right:15px;
  margin-top: 5rem;
  transition: 0.3s ease-in-out;
  text-align: center;
}
.footer1 .social a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: #66b2b2;
  color: var(--text-color);
  box-shadow: 0 0 25px #66b2b2;
  border: 2px solid #66b2b2;
}
.footer ul{
  margin-top: 0.1rem;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10rem;
  text-align: center;
}
.footer ul li a{
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
  font-family: "Bicubik";
  margin-right: 15px;
  text-align: center;
}
.footer ul li a:hover{
    color: var(--main-color);
    border-bottom: 3px solid #66b2b2;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.footer .copyright {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: white;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.footer h2{
  font-size: 5rem;
}
.blur{
  background-color: red;
}

@media(max-width:600px){
    html{
        font-size: 55%;
    }
    .services-container{
        padding-bottom: 7rem;
        grid-template-columns: repeat(2,1fr);
        margin: 0 5rem;
    }
}
@media(max-width:600px){
    .header{
        width: 93%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .services{
        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
      
    }
@media(max-width:600px){
    #menu-icon{
        display: block;
        margin-right: 2rem;
    }
    .navbar{
      flex-direction: column;
      width: 40%; /* Full width on mobile */
      align-items: center;
      position: absolute;
      top: 100%;
      right: 10%;
      margin-right: 0;
      padding:0;
      background: rgba(0, 0, 0, 0.9);
      backdrop-filter: blur(20px);
      border-bottom-left-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
      border-left: 2px solid #66b2b2;
      border-right: 2px solid #66b2b2;
      border-bottom: 2px solid #66b2b2;
      display: none;
    }
    .navbar.active{
        display: flex;
    }
    .navbar a{
        font-size: 2rem;
        margin: 2rem 0;
    }
    .navbar a1:hover,.navbar a2:hover,.navbar a3:hover,.navbar a4:hover{
      color: white;
    }
    .IOTA {
      padding: 10px;
      max-width: 100%; 
      text-align: left; 
    
    }
    .IOTA p{
        font-size: 2rem;
    }
    .one:hover {
      color: white;
      border-bottom: 3px solid red;
   
   }
   .two:hover {
     color: white;
     border-bottom: 3px solid green;
   
   }
   .three:hover {
     color: white;
     border-bottom: 3px solid #f192bd;
   
   }
   .four:hover {
     color: white;
     border-bottom: 3px solid blue;
   }
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
        margin-top: 3rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 30vw;
        margin-top: -2rem;
    }
    .about1, .about2, .about3 {
      flex-direction: column;
      align-items: center;
      margin: 3rem; 
      padding: 1rem;
      border-radius: 2rem;
  }
    .about{
        flex-direction: column-reverse;

    }
    .about-content{
        margin: 0 2rem 4rem;
    }
    .about-img img{
        width: 20vw;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .about-content1 h2{
      line-height: 1.5;
      font-size: 5rem;
      margin-left: 3rem;
    }
    .btn2{
      align-items: center;
    }
    .footer h2{
      font-size: 3rem;
    }
  
}
.logo a{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#logo{
  margin: 0;
}
}